.root {
  display: flex;
  gap: 50px;
  justify-content: center;

  li {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(254, 95, 30);
    background-color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgb(254, 95, 30);
      a {
        color: white;
      }
    }
    a {
      color: rgb(254, 95, 30);
      font-size: 17px;
      font-weight: 600;
    }
  }

  :global {
    .selected {
      background-color: rgb(254, 95, 30);
      a {
        color: white;
      }
    }
  }
}
